<!DOCTYPE html>
<html lang="en">
<head>
	<title>GooFBTwit</title>
	<script src="/static/jquery.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/json2.js" type="text/javascript"></script>
	<script src="/static/backbone/test/vendor/underscore.js" type="text/javascript"></script>
	<script src="/static/backbone/backbone.js" type="text/javascript"></script>
	<script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>

	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
	<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="javascript:void()"><img src="/static/images/goofbtwit.png" width="100" height="30"></a>
				<ul class="nav pull-left">
                      <li><a href="/home" href="javascript:void(0)">Home</a></li>
                </ul>
			</div>
		</div>
	</div>
	<div class="container main">
		<h4 class="title"><header>Meet the Team</header></h4>
		<div id="hcard-Kenneth-Balobalo" class="vcard">
			<img src="/static/images/team/kenneth.jpg" class="photo" width="134" height="108">
			<div class="profile">
				<h2>
					<a class="fn" title="Kenneth Balobalo">Kenneth M. Balobalo</a>
				</h2>
				<a class="email" href="mailto:kennbalobalo.1790@gmail.com">kennbalobalo.1790@gmail.com</a>
				<span class="tel">
					<span class="type">Mobile</span>
					<span class="value">0906-647-9122</span>
				</span>
				<p>Kenneth Balobalo is a Fourth Year Student pursuing a degree of Bachelor of Science in Computer Engineering student at the Polytechnic University of the Philippines.</p>
				<p>He was born on September 17, 1990 in Pangil, Laguna. The only son of Angelina Balobalo. He grew up having strong faith in God and find simplicity in things. A gadget-savvy. He's into latest gadgets and technologies. He has a passion for programming and web development. He currently lives in Sta. Mesa, Manila.</p>
			</div>
			<a class="url intenter" href="https://twitter.com/intent/user?screen_name=Kenn_Balobalo" title="@Kenn_Balobalo" rel="me">Twitter: @Kenn_Balobalo</a>
		</div>
		<div id="hcard-Emmil-Bellen" class="vcard">
			<img src="/static/images/team/pex.jpg" class="photo" width="134" height="108">
			<div class="profile">
				<h2>
					<a class="fn" title="Emmil John Bellen">Emmil Bellen</a>
				</h2>
				<span class="tel">
					<span class="type">Mobile</span>
					<span class="value">0926-232-9270</span>
				</span>
				<p>Emmil John Bellen is a Fifth Year Student pursuing a degree of Bachelor of Science in Computer Engineering student at the Polytechnic University of the Philippines.</p>
				<p>He was born on . He currently lives in Quezon City.</p>
			</div>
		</div>
		<div id="hcard-Jonathan-Miclat" class="vcard">
			<img src="/static/images/team/than.jpg" class="photo" width="134" height="108">
			<div class="profile">
				<h2>
					<a class="fn" title="Jonathan Eduard Miclat">Jonathan Eduard Miclat</a>
				</h2>
				<span class="tel">
					<span class="type">Mobile</span>
					<span class="value">0906-573-0831</span>
				</span>
			<p>Jonathan Eduard Miclat is a Fifth Year Student pursuing a degree of Bachelor of Science in Computer Engineering student at the Polytechnic University of the Philippines</p>
			<p>He was born on June 21, 1991. He's currently lives in Sta. Mesa, Manila.</p>
			</div>
		</div>
		<div id="hcard-Gerald-Garcia" class="vcard">
			<img src="/static/images/team/gerald.jpg" class="photo" width="134" height="108">
			<div class="profile">
				<h2>
					<a class="fn" title="Gerald Nick Garcia">Gerald Nick Garcia</a>
				</h2>
				<span class="tel">
					<span class="type">Mobile</span>
					<span class="value">0935-202-7754</span>
				</span>
				<p>Gerald Nick Garcia is a Fifth Year Student pursuing a degree of Bachelor of Science in Computer Engineering student at the Polytechnic University of the Philippines</p>
				<p>He was born on September 10, 1991. He currently lives in San Mateo, Rizal.</p>
			</div>
		</div>
			<div id="hcard-Karen-Lagunsad" class="vcard">
			<img src="/static/images/team/karen.jpg" class="photo" width="134" height="108">
			<div class="profile">
				<h2>
					<a class="fn" title="Karen Lagunsad">Karen Lagunsad</a>
				</h2>
				<span class="tel">
				<span class="type">Mobile</span>
					<span class="value">0917-330-5190</span>
				</span>
				<p>Karen Lagunsad is a Fifth Year Student pursuing a degree of Bachelor of Science in Computer Engineering student at the Polytechnic University of the Philippines</p>
				<p>She was born on January 3, 1992. She currently lives in Manila.</p>
			</div>
		</div>
	</div>

</body>
</html>